{% extends "header.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <i class="bi bi-folder-lock me-2"></i>目录访问认证
                    </div>
                    <div class="card-body">
                        <form id="passwordForm" onsubmit="checkPassword(event)">
                            <div class="mb-3">
                                <label class="form-label">请输入 "{{ alias }}" 的访问密码</label>
                                <input type="password" class="form-control" id="password" required>
                                <div class="invalid-feedback" id="loginError"></div>
                            </div>
                            <button type="submit" class="btn btn-info">
                                <i class="bi bi-unlock me-2"></i>验证
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        async function checkPassword(event) {
            event.preventDefault();
            const passwordInput = document.getElementById('password');
            const errorDiv = document.getElementById('loginError');
            const password = document.getElementById('password').value;
            try {
                const response = await fetch('/check_password/{{ alias }}', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded',},
                    body: `password=${encodeURIComponent(password)}`
                });
                if (response.ok) {
                    location.reload();
                } else {
                    passwordInput.classList.add('is-invalid');
                    errorDiv.textContent = '目录({{ alias }})访问密码错误';
                }
            } catch (error) {
                console.error('Error:', error);
                passwordInput.classList.add('is-invalid');
                errorDiv.textContent = '验证失败';
            }
        }

         document.getElementById('password').addEventListener('input', function() {
            this.classList.remove('is-invalid');
            document.getElementById('loginError').textContent = '';
        });
    </script>

{% endblock %}
